@model IEnumerable<CafeLab.Models.Cafe>

@{
    ViewData["Title"] = "Index";
}

<h1>Заклади</h1>



<table class="table table-hover">
    <thead>
        <tr class="table-primary">
            <th scope="col">@Html.DisplayNameFor(model => model.Address)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.OpenHour)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.CloseHour)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="table-secondary">
                <td>@Html.DisplayFor(modelItem => item.Address)</td>
                <td>@Html.DisplayFor(modelItem => item.OpenHour)</td>
                <td>@Html.DisplayFor(modelItem => item.CloseHour)</td>
            </tr>
        }
    </tbody>
</table>